workflows/tech_newsletter.json
{
  "name": "Tech Newsletter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "2a4309b1-5fd5-4ff7-8857-af2320e4efa4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a news agent whose purpose is to search for the latest tech/computer science news across a variety of popular channels and output them. Look for the top 7 to 10 stories online. Try to find 10 stories. These articles should be diverse in content; don't have all of the found news be solely covering AI or cryptocurrency, for example. The news should be focused on tech and computer science, and shouldn't be as focused on other disciplines unless there is a direct relation to tech and computer science.\n\nOnly search for news that has been published between {{ $json.startDate }} to {{ $json.endDate }} (the dates are in yyyy-mm-dd format).\n\nYour output should be in JSON format. It should be a single field called results, which contains list of JSON objects. Each object in this list should have the following fields:\n- title: The title of the news you found\n- content: Your summary of the news content. Cover important points in paragraph form in sufficient detail, but avoid repeating yourself. Target for at least two to four detailed paragraphs of summary content. These summaries should have a journalistic tone and should focus on convering information instead of referencing the article or qualities of the article.\n- url: The URL to the article or piece of news covering this information.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Summarize only based on information you searched for using the provided tool calls. Never provide information from your own knowledge.\nYou must utilize tool calls to find your information. When calling the HTTP request tool to search, never include double quotes in your searches."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "8183bf06-e574-4e80-9998-1bc3619a2808",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"results\": [\n    {\n      \"title\": \"New Programming Language Accelerates Parallel Computing\",\n      \"content\": \"A new programming language inspired by Python has allowed for quick and easy programming of CUDA GPUs, accelerating the field of parallel computing\",\n      \"url\": \"https://example.com/article\"\n    },\n    {\n      \"title\": \"Quantum Computing Breakthrough Allows for Faster Prime Factorization\",\n      \"content\": \"A new quantum computer architecture developed by Google has allowed for faster performance in prime factorizing large numbers.\",\n      \"url\": \"https://technews.com/news\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        560,
        -144
      ],
      "id": "a9a6f793-d927-41d2-866d-07fc44312209",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"Authorization\": \"Bearer {{ $env.TAVILY_API_KEY }}\"\n}",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"query\": \"{{ $fromAI('query', 'Search query') }}\",\n  \"start_date\": \"{{ $json.startDate }}\",\n  \"end_date\": \"{{ $json.endDate }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        512,
        176
      ],
      "id": "47133b95-95f8-483c-984d-2e65ca6941f4",
      "name": "Tavily"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        416,
        176
      ],
      "id": "f63ba519-4fe4-4b71-ab23-a4909853231a",
      "name": "OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "1599VTUqP3R2NYuh",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst then = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 3);\n\nconst fmt = date => date.toISOString().split(\"T\")[0];\n\nreturn [{ \n  json: { \n    startDate: fmt(then),\n    endDate: fmt(now)\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "37d650a3-8a1c-433f-b202-44cfacd2d051",
      "name": "Fetch Date"
    },
    {
      "parameters": {
        "jsCode": "// Fetch the OpenGraph image for a given URL\nconst preview = async (url) => {\n  const defaultURL = \"https://placehold.co/600x400/grey/grey\";\n  const response = await fetch(url);\n  // If response failed, just yield preview image url\n  if (!response) return defaultURL;\n  // Attempt to extract og:image from requested HTML\n};\n\n// Convert an item to the RSS feed content\nconst makeItem = item => `\n    <item>\n      <title>${item.title}</title>\n      <link>${item.url}</link>\n      <description>${item.content}</description>\n      <guid>${item.url}</guid>\n    </item>\n`;\n\n// Convert each item to RSS feed content\nconst rssContent = [];\nfor (const item of $input.first().json.output.results) {\n  rssContent.push(makeItem(item));\n}\n\n// Create the final RSS feed\nconst rssFeed = `\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss version=\"2.0\">\n  <channel>\n    <title>Kedar's Tech Feed</title>\n    <description>Kedar's Daily Tech News Feed</description>\n${rssContent.join('\\n')}\n  </channel>\n</rss>\n`;\nconst buffer = Buffer.from(rssFeed, \"utf-8\");\n\nreturn [{ \n  json: { xml: rssFeed },\n  binary: {\n    data: await this.helpers.prepareBinaryData(buffer)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "4263f52e-a12f-4cf7-9336-f32f8ec55286",
      "name": "Write RSS Data"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/shared/techfeed.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        992,
        160
      ],
      "id": "afa61a61-89db-4c95-80fe-3920b84e549a",
      "name": "Create Local RSS Feed"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "KedarPanchal",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "RSS-Feeds",
          "mode": "list",
          "cachedResultName": "RSS-Feeds",
          "cachedResultUrl": "https://github.com/KedarPanchal/RSS-Feeds"
        },
        "filePath": "techfeed.rss",
        "fileContent": "={{ $('Write RSS Data').item.json.xml }}",
        "commitMessage": "Create public RSS feed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1216,
        -32
      ],
      "id": "90f46fa0-0328-4dcc-b080-aeacf78948ae",
      "name": "Create Public RSS Feed",
      "webhookId": "115966b2-5e19-436a-abab-0b1d86a7db53",
      "credentials": {
        "githubApi": {
          "id": "XF5MmDR9MMSYI7qd",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "KedarPanchal",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "RSS-Feeds",
          "mode": "list",
          "cachedResultName": "RSS-Feeds",
          "cachedResultUrl": "https://github.com/KedarPanchal/RSS-Feeds"
        },
        "filePath": "techfeed.rss",
        "fileContent": "={{ $('Write RSS Data').item.json.xml }}",
        "commitMessage": "Update public RSS feed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1216,
        -224
      ],
      "id": "7fa8ffd0-34f1-411d-bf59-247e6df53393",
      "name": "Update Public RSS Feed",
      "webhookId": "81a0a394-dd60-420a-b8dd-a3c3b88356a6",
      "credentials": {
        "githubApi": {
          "id": "XF5MmDR9MMSYI7qd",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "KedarPanchal",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "RSS-Feeds",
          "mode": "list",
          "cachedResultName": "RSS-Feeds",
          "cachedResultUrl": "https://github.com/KedarPanchal/RSS-Feeds"
        },
        "filePath": "techfeed.rss",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1008,
        -128
      ],
      "id": "7712bfa8-448d-4efa-8d04-e414097833d1",
      "name": "Search for Public RSS Feed",
      "webhookId": "b955d8c3-9bd4-4671-84d9-54acbeed2c79",
      "credentials": {
        "githubApi": {
          "id": "XF5MmDR9MMSYI7qd",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "path": "techfeed",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        448
      ],
      "id": "31743878-3a90-4324-bcee-d8b43574ce52",
      "name": "Host Local RSS Feed",
      "webhookId": "3a4c07f5-44bd-4b1f-964f-9ad54ddac9ad"
    },
    {
      "parameters": {
        "fileSelector": "/data/shared/techfeed.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        224,
        448
      ],
      "id": "4114b6f3-18b2-427b-99f9-d8601dc440fc",
      "name": "Fetch Local RSS Feed"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        448
      ],
      "id": "fb27ca57-dac7-427a-b0c5-494f87f3ceaf",
      "name": "Serve Local RSS Feed"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Write RSS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Date": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write RSS Data": {
      "main": [
        [
          {
            "node": "Create Local RSS Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search for Public RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Local RSS Feed": {
      "main": [
        []
      ]
    },
    "Search for Public RSS Feed": {
      "main": [
        [
          {
            "node": "Update Public RSS Feed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Public RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host Local RSS Feed": {
      "main": [
        [
          {
            "node": "Fetch Local RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Local RSS Feed": {
      "main": [
        [
          {
            "node": "Serve Local RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0a3c6de7-754e-469a-924a-496b62799daa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3d31a9b25b59f765069dd0795a974a7334833c28e26dcc3a923733572dd0ef0"
  },
  "id": "fHKfxErWPRnYlTvM",
  "tags": []
}